<div class='container'>
  <h1 class='section-header'>Activities in Manhattan</h1>
</div>
<section class='section-wrapper stripped'>
  <div class='container'>
      <% @activities.each do |activity| %>
        <div class="activity clearfix">
            
            <div class="title"><%= link_to activity.name, activity %></div>
            
            <a href="activities/<%= activity.id %>"><img src="http://kids.media.timeout.com/images/<%= activity.image %>/150/113/image.jpg"></a>
             
            <div class="info">
                <p><%= activity.location %> | <a href="<%= activity.url %>"><%= activity.url %></a><br> 
                <strong>Neighborhood: </strong><%= activity.neighborhood %> | <strong>Categories: </strong><%= activity.category_list %><br>
                <%= activity.blurb %></p>
            </div><!-- .info -->
        </div><!-- .activity -->
      <% end %>
  </div>
</section>

<br>
