<%= image_tag "photos/photo-card-big-8.png" %>

<div class='container'>
  <h1 class='section-header'>Activities in Manhattan</h1>
</div>
<section class='section-wrapper stripped'>
  <div class='container'>
      <% @activities.each do |activity| %>
        <div class="activity clearfix">
            
            <div class="title"><%= link_to activity.name, activity %></div>
            <% if activity.image != nil %>
              <a href="activities/<%= activity.id %>"><img src="http://kids.media.timeout.com/images/<%= activity.image %>/150/113/image.jpg"></a>
            <% else %>
              <a href="activities/<%= activity.id %>"><img src="http://placekitten.com/g/150/113"></a>
            <% end %>
            <div class="info">
                <p><%= activity.location %> | <a href="/neighborhood/<%= activity.neighborhood.to_s.gsub(" ", "-") %>"><%= activity.neighborhood %></a> | <a href="<%= activity.url %>"><%= activity.url %></a><br> 
                <strong>Categories: </strong>
                <% activity.category_list.split(",").each do |category| %>
                  <a href="/category/<%= CGI.escape(category) %>"><%= category %> |</a>
                <% end %><p>
              <div class="blurb">
                <%= truncate(activity.blurb, length: 200) { link_to "Read More", activity} %>
              </div>
            </div><!-- .info -->
        </div><!-- .activity -->
      <% end %>
  </div>
</section>

<br>
