<section class='section-wrapper stripped'>
  <div class='container'>
    <h1 class='section-header'>Activities in Manhattan</h3>
      <% @activities.each do |activity| %>
        <h3><%= link_to activity.name, activity %></h3>
        <p><%= activity.location %> | <a href="<%= activity.url %>"><%= activity.url %></a></p>
        <p><%= activity.blurb %></p>
        <p><%= link_to 'Show', activity %> | <%= link_to 'Edit', edit_activity_path(activity) %> | <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
  </div>
</section>

<br>
