<div class='container'>
<p id="notice"><%= notice %></p>

<h3 class='section-header'><%= @activity.name %></h3>

<p>
  <img src="http://kids.media.timeout.com/images/<%= @activity.image %>/150/113/image.jpg">
</p>

<p><%= @activity.location %> | <a href= "<%= @activity.url %>" target="_blank"><%= @activity.url %></a></p>

<p>
  <%= @activity.blurb %>
</p>

<p><strong>Categories:</strong>
  <%= @activity.category_list %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
</div>
